@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
body{
    font-family: 'Urbanist', sans-serif;
    position: relative;
}


html {
    scroll-behavior: smooth;
}
header{
    display:flex;
    justify-content: space-between;
    margin: 20px 60px;
}
.logo{
    font-size: 40px;
    font-weight: 700;
}
.navbar{
    list-style-type:none;
    display: flex;
    margin-top: 5px ;

}
.navbar li a{
    padding: 10px;
    text-decoration: none;
}
.navbar li .explore{
    color: blueviolet;
    border-radius: 10px;
       margin-left: 10px;
       margin-top: 0;
       border: 1px solid navy;

}
section{
    display:flex;
    justify-content: space-between;
    margin:100px 80px;
}
.section1 button{
background-color: blueviolet;
padding: 20px;
border-radius: 10px;
border: none;
}
.section1 button a{
   text-decoration: none;
   color: #fff;
    }
.section2 img{
width:600px;
}
.section1 .btn1{

margin-right: 14px;

}

.section3 img{
width:600px;
}
.section4{
    margin-top: 100px;
    margin-left: 50px;
}
.btn1{
    background-color: blueviolet;
    padding: 10px;
    border-radius: 10px;
}
button a{
    text-decoration: none;
    color: #fff;
     }


     footer{
         text-align: center;
         font-weight: bold;
     }